@model IEnumerable<Customer>

@{
    ViewData["Title"] = "List of all users";
}

<div class="row">
    <div class="col-md-6 offset-3">
        <p>
            <h4 class="align-middle">List of all users</h4>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Id)</th>
                    <th>@Html.DisplayNameFor(model => model.FirstName)</th>
                    <th>@Html.DisplayNameFor(model => model.LastName)</th>
                    <th>@Html.DisplayNameFor(model => model.UserName)</th>
                    <th>@Html.DisplayNameFor(model => model.Email)</th>
                    <th>@Html.DisplayNameFor(model => model.Street)</th>
                    <th>@Html.DisplayNameFor(model => model.City)</th>
                    <th>@Html.DisplayNameFor(model => model.ZipCode)</th>
                    <th>@Html.DisplayNameFor(model => model.PhoneNumber)</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.OrderBy(x => x.Id))
                {
                    <tr>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.FirstName)
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.LastName)
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.UserName)
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.Street)
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.City)
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.ZipCode)
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.PhoneNumber)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>