@using WatchWebShop.Models;
@using System.Globalization;
@using WatchWebShop.Data.ViewModels;
@model InvoiceVM

@{
    ViewData["Title"] = "Invoice";
}


@*<!DOCTYPE html>
<html xmlns="https://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>

<body style="font-family:Tahoma;font-size:12px;color: #333333;background-color:#FFFFFF;">*@

<table align="center" border="0" cellpadding="0" cellspacing="0" style="height:842px; width:595px;font-size:12px;">
    <tbody>
        <tr>
            <td valign="top">
                <table width="100%" cellspacing="0" cellpadding="0">
                    <tbody>
                        <tr>
                            <td valign="bottom" width="50%" height="50">
                                <div align="left"><img src="~/Images/watchShopLogo.jpg" style="width:50%; height:50%"></div><br>
                            </td>

                            <td width="50%">&nbsp;</td>
                        </tr>
                    </tbody>
                </table>Empfänger: <br><br>
                <table width="100%" cellspacing="0" cellpadding="0">
                    <tbody>
                        <tr>
                            <td valign="top" width="35%" style="font-size:12px;">
                                <strong>@Model.Customer.Salutation @Model.Customer.FirstName @Model.Customer.LastName</strong><br>
                                @Model.Customer.Street <br>City: @Model.Customer.City<br>ZipCode: @Model.Customer.ZipCode<br>

                            </td>
                            <td valign="top" width="35%">
                            </td>
                            <td valign="top" width="30%" style="font-size:12px;">
                                Rechnungsdatum: @Model.OrderedOn.ToShortDateString()<br>
                                Fälligkeitsdatum: @Model.PaidOn.ToShortDateString()<br>
                                Lieferdatum: @Model.PaidOn.AddDays(7).ToShortDateString()
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table width="100%" height="100" cellspacing="0" cellpadding="0">
                    <tbody>
                        <tr>
                            <td>
                                <div align="center" style="font-size: 14px;font-weight: bold;">Rechnung Nr.: #0000 @Model.OrderId </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table width="100%" cellspacing="0" cellpadding="2" border="1" bordercolor="#CCCCCC">
                    <tbody>
                        <tr>

                            <td width="35%" bordercolor="#ccc" bgcolor="#f2f2f2" style="font-size:12px;">
                                <strong>
                                    Beschreibung
                                </strong>
                            </td>
                            <td bordercolor="#ccc" bgcolor="#f2f2f2" style="font-size:12px;"><strong>Menge</strong></td>
                            <td bordercolor="#ccc" bgcolor="#f2f2f2" style="font-size:12px;"><strong>Preis</strong></td>
                            <td bordercolor="#ccc" bgcolor="#f2f2f2" style="font-size:12px;"><strong>Gesamt</strong></td>

                        </tr>
                        <tr style="display:none;">
                            <td colspan="*"></td>
                        </tr>
                        @foreach (var orderLine in Model.Order.OrderLines)
                        {
                            @foreach (var product in orderLine.Order.OrderLines)
                            {
                                <tr>
                                    <td valign="top" style="font-size:12px;">@product.Product.Name</td> @*Produkt Name*@
                                    <td valign="top" style="font-size:12px;">@product.Quantity </td> @*Produkt Menge*@
                                    <td valign="top" style="font-size:12px;">@product.UnitPriceNetto </td> @*Produkt Unit Preis Netto*@
                                    <td valign="top" style="font-size:12px;">@(product.Quantity * product.UnitPriceNetto) </td> @*Produkt Gesamt Preis Netto*@

                                </tr>
                            }
                            
                        }

                        @*<tr>

                        <td valign="top" style="font-size:12px;">Meine Dienstleistung</td>
                        <td valign="top" style="font-size:12px;">1 </td>
                        <td valign="top" style="font-size:12px;">230,00 </td>
                        <td valign="top" style="font-size:12px;">230,00 </td>

                        </tr>*@
                        <tr>

                            <td valign="top" style="font-size:12px;">&nbsp;</td>
                            <td valign="top" style="font-size:12px;">&nbsp;</td>
                            <td valign="top" style="font-size:12px;">&nbsp;</td>
                            <td valign="top" style="font-size:12px;">&nbsp;</td>

                        </tr>

                        @*<tr>

                        <td valign="top" style="font-size:12px;">&nbsp;</td>
                        <td valign="top" style="font-size:12px;">&nbsp;</td>
                        <td valign="top" style="font-size:12px;">&nbsp;</td>
                        <td valign="top" style="font-size:12px;">&nbsp;</td>

                        </tr>
                        <tr>

                        <td valign="top" style="font-size:12px;">&nbsp;</td>
                        <td valign="top" style="font-size:12px;">&nbsp;</td>
                        <td valign="top" style="font-size:12px;">&nbsp;</td>
                        <td valign="top" style="font-size:12px;">&nbsp;</td>

                        </tr>
                        <tr>

                        <td valign="top" style="font-size:12px;">&nbsp;</td>
                        <td valign="top" style="font-size:12px;">&nbsp;</td>
                        <td valign="top" style="font-size:12px;">&nbsp;</td>
                        <td valign="top" style="font-size:12px;">&nbsp;</td>

                        </tr>
                        <tr>

                        <td valign="top" style="font-size:12px;">&nbsp;</td>
                        <td valign="top" style="font-size:12px;">&nbsp;</td>
                        <td valign="top" style="font-size:12px;">&nbsp;</td>
                        <td valign="top" style="font-size:12px;">&nbsp;</td>

                        </tr>
                        <tr>

                        <td valign="top" style="font-size:12px;">&nbsp;</td>
                        <td valign="top" style="font-size:12px;">&nbsp;</td>
                        <td valign="top" style="font-size:12px;">&nbsp;</td>
                        <td valign="top" style="font-size:12px;">&nbsp;</td>

                        </tr>
                        <tr>

                        <td valign="top" style="font-size:12px;">&nbsp;</td>
                        <td valign="top" style="font-size:12px;">&nbsp;</td>
                        <td valign="top" style="font-size:12px;">&nbsp;</td>
                        <td valign="top" style="font-size:12px;">&nbsp;</td>

                        </tr>
                        <tr>

                        <td valign="top" style="font-size:12px;">&nbsp;</td>
                        <td valign="top" style="font-size:12px;">&nbsp;</td>
                        <td valign="top" style="font-size:12px;">&nbsp;</td>
                        <td valign="top" style="font-size:12px;">&nbsp;</td>

                        </tr>
                        <tr>

                        <td valign="top" style="font-size:12px;">&nbsp;</td>
                        <td valign="top" style="font-size:12px;">&nbsp;</td>
                        <td valign="top" style="font-size:12px;">&nbsp;</td>
                        <td valign="top" style="font-size:12px;">&nbsp;</td>

                        </tr>
                        <tr>

                        <td valign="top" style="font-size:12px;">&nbsp;</td>
                        <td valign="top" style="font-size:12px;">&nbsp;</td>
                        <td valign="top" style="font-size:12px;">&nbsp;</td>
                        <td valign="top" style="font-size:12px;">&nbsp;</td>

                        </tr>
                        <tr>

                        <td valign="top" style="font-size:12px;">&nbsp;</td>
                        <td valign="top" style="font-size:12px;">&nbsp;</td>
                        <td valign="top" style="font-size:12px;">&nbsp;</td>
                        <td valign="top" style="font-size:12px;">&nbsp;</td>

                        </tr>
                        <tr>

                        <td valign="top" style="font-size:12px;">&nbsp;</td>
                        <td valign="top" style="font-size:12px;">&nbsp;</td>
                        <td valign="top" style="font-size:12px;">&nbsp;</td>
                        <td valign="top" style="font-size:12px;">&nbsp;</td>

                        </tr>
                        <tr>

                        <td valign="top" style="font-size:12px;">&nbsp;</td>
                        <td valign="top" style="font-size:12px;">&nbsp;</td>
                        <td valign="top" style="font-size:12px;">&nbsp;</td>
                        <td valign="top" style="font-size:12px;">&nbsp;</td>

                        </tr>
                        <tr>

                        <td valign="top" style="font-size:12px;">&nbsp;</td>
                        <td valign="top" style="font-size:12px;">&nbsp;</td>
                        <td valign="top" style="font-size:12px;">&nbsp;</td>
                        <td valign="top" style="font-size:12px;">&nbsp;</td>

                        </tr>
                        <tr>

                        <td valign="top" style="font-size:12px;">&nbsp;</td>
                        <td valign="top" style="font-size:12px;">&nbsp;</td>
                        <td valign="top" style="font-size:12px;">&nbsp;</td>
                        <td valign="top" style="font-size:12px;">&nbsp;</td>

                        </tr>
                        <tr>

                        <td valign="top" style="font-size:12px;">&nbsp;</td>
                        <td valign="top" style="font-size:12px;">&nbsp;</td>
                        <td valign="top" style="font-size:12px;">&nbsp;</td>
                        <td valign="top" style="font-size:12px;">&nbsp;</td>

                        </tr>
                        <tr>

                        <td valign="top" style="font-size:12px;">&nbsp;</td>
                        <td valign="top" style="font-size:12px;">&nbsp;</td>
                        <td valign="top" style="font-size:12px;">&nbsp;</td>
                        <td valign="top" style="font-size:12px;">&nbsp;</td>

                        </tr>
                        <tr>

                        <td valign="top" style="font-size:12px;">&nbsp;</td>
                        <td valign="top" style="font-size:12px;">&nbsp;</td>
                        <td valign="top" style="font-size:12px;">&nbsp;</td>
                        <td valign="top" style="font-size:12px;">&nbsp;</td>

                        </tr>*@
                    </tbody>
                </table>
                <table width="100%" cellspacing="0" cellpadding="2" border="0">
                    <tbody>
                        <tr>
                            <td style="font-size:12px;width:50%;"><strong> </strong></td>
                            <td>
                                <table width="100%" cellspacing="0" cellpadding="2" border="0">
                                    <tbody>
                                        <tr>
                                            <td align="right" style="font-size:12px;">Gesamt</td>
                                            <td align="right" style="font-size:12px;">€ @(Model.UnitPriceNetto * Model.Quantity)</td>
                                            <td>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="right" style="font-size:12px;">USt. 20%</td>
                                            <td align="right" style="font-size:12px;">€ @(Model.UnitPriceNetto * 0.2 * Model.Quantity)</td>
                                        </tr>
                                        <tr>

                                            <td align="right" style="font-size:12px;"><b>Gesamtpreis</b></td>
                                            <td align="right" style="font-size:12px;"><b>€ @Model.TotalPriceBrutto.ToString("N2")</b></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <table width="100%" height="50">
                    <tbody>
                        <tr>
                            <td style="font-size:12px;text-align:justify;"></td>
                        </tr>
                    </tbody>
                </table>
                <table width="100%" cellspacing="0" cellpadding="2">
                    <tbody>
                        <tr>
                            <td width="33%" style="border-top:double medium #CCCCCC;font-size:12px;" valign="top">
                                <b>WatchWebShop GmbH.</b><br>
                                StNr.: 12-1234567<br>
                                UID-Nr.: ATU12345678<br>
                            </td>
                            <td width="33%" style="border-top:double medium #CCCCCC; font-size:12px;" align="center" valign="top">
                                Hauptstraße 1, 1020 Wien Österreich <br>

                            </td>

                            <td valign="top" width="34%" style="border-top:double medium #CCCCCC;font-size:12px;" align="right">
                                Bankverbindung: Sparkasse<br> IBAN: AT37 206 0400 0012 3456 <br>SWIFT/BIC: SPFKAT2X <br>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>

@*</body>
</html>*@

@*@section Script{
    <script>
        document.addEventListener("DOMContentLoaded", () => {
           let printButton = document.getElementById("print");
           let container = document.getElementById("container");

           printButton.addEventListener("click", event => {
                event.preventDefault();
                printLink.style.display = "none";
                window.print();
        }, false);

        container.addEventListener("click", event => {
           printLink.style.display = "flex";
        }, false);
    </script>
}*@