@model Product

@{
    ViewData["Title"] = "Product Details";
}

<center>
    <div class="row">
        <div class="col-md-8 offset-2">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-12">
                        <div class="card-header text-white bg-info">
                            <p class="card-text">
                                <h5 class="card-title">
                                    @Model.Name
                                </h5>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <img src="@Model.ImagePath" width="100%" alt="@Model.Name">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <p class="card-text text-justify">@Model.Description</p>
                            <p class="card-text">
                                <b>Manufacturer: </b>
                                <a asp-controller="Manufacturers" asp-action="Details" asp-route-id="@Model.ManufacturerId">
                                    @Model.Manufacturer.Name
                                </a>
                            </p>
                            <p class="card-text"><b>Category: </b>@Model.Category.Name</p>
                            <p class="card-text">
                                <b>Status: </b>
                                <span class="badge bg-success">In stock</span>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card-footer">
                            <p class="card-text">
                                <a class="btn btn-outline-info float-right" asp-action="Index">
                                    Back to List
                                </a>
                                <a class="btn btn-success text-white" asp-controller="Orders" asp-action="AddItemToShoppingCart2" asp-route-id="@Model.Id">
                                    <i class="bi bi-cart-plus"></i>
                                    Add to Cart (Price @Model.UnitPriceNetto.ToString("c"))
                                </a>

                                <form asp-controller="Orders" asp-action="AddItemToShoppingCart2" asp-route-id="@Model.Id" method="post">
                                    <input type="number" id="quantity" name="quantity" min="1" value="1" />
                                    <button type="submit" name="addToCart" id="Submit" value="btnAdd">Add to cart</button>
                                </form>

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</center>

@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
    <div style="position:fixed; right:20px; bottom: 125px;" class="text-white">
        <a asp-asp-controller="Products" asp-action="Create" class="btn btn-success"><i class="bi bi-plus-circle"></i> Add New</a>
    </div>
}